@model FileUploadViewModel
@{
    ViewData["Title"] = "Upload your xml/csv Transaction file";
}
<h1 class="display-4">Welcome!</h1>
<h2>Upload File</h2>
<form asp-action="assesment" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <input type="file" asp-for="File" id='fileinput' class="form-control" accept=".csv,.xml" />
    </div>
    <button id="submit" type="submit" class="btn btn-primary">Upload</button>
</form>
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
